{% extends 'music_nation/base.html' %}

{% block title %}
{% endblock %}
{% block content %}


    <div class="container">
        <h3 style="margin-left:0px; margin-bottom:30px; ">Profile:<br/></h3>

        <h5 style="list-style-type: none; margin-left:0px; margin-bottom:30px; color: #007bff">{{ profile_fields.first_name }} {{ profile_fields.last_name }}<br/></h5>
        <li style="list-style-type: none; margin-left:0px; margin-bottom:30px;">Registered email address: {{ profile_fields.email }}<br/></li>
        <li style="list-style-type: none; margin-left:0px; margin-bottom:30px;">Last login: {{ profile_fields.last_login }}<br/></li>





        {% for album in albums %}

            <h2><a href="{% url 'music_nation:album_detail' username album %}">{{ album.album_name }}</a></h2>
            {% if album.album_artist == user %}
                <a href="{% url 'music_nation:delete_album' username album %}">Delete</a>
            {% endif %}
            {% for song in album.songs.all %}
                <li style="list-style-type: none; margin-left:70px;">{{ song.song_name }}<br/>
                    <audio controls>
                        <source src="{{ song.song_file.url }}" type="audio/mp3">
                    </audio>
                </li>
            {% endfor %}
            <hr/>
        {% endfor %}
    </div>

{% endblock %}
