{% load static %}
<html>
  <head>
    <title>{%block title%}MusicNation{%endblock%}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'music_nation/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'music_nation/css/music_nation.css' %}">
  </head>
  <body>
    <div >
      <header>
        <nav style=" margin-bottom:80px;">
          <ul class="bglight">
            <li class="li-left">
              <a class="base-a-img" href="{% url 'music_nation:home' %}">
                <img src="{%static 'music_nation/img/logo2.png' %}" style="width:50px;" alt="logo">
              </a>
            </li>
            {% if user.is_authenticated %}
            <li class="li-right">
              <a class="base-a" href="{% url 'music_nation:logout' %}">Logout</a>
            </li>
            <li class="li-right">
              <a class="base-a" href="{% url 'music_nation:add_album' user %}">Add Album</a>
            </li>
            <li class="li-right">
              <a class="base-a" href="{% url 'music_nation:profile_detail' user %}">{{ user.username }}</a>
            </li>
            {% else %}
            <li class="li-right">
              <a class="base-a" href="{% url 'music_nation:login' %}">Login</a>
            </li>
            <li class="li-right">
              <a class="base-a" href="{% url 'music_nation:signup' %}">SignUp</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </header>
    </div>
    <div>
      {%block content%}
      {%endblock%}
    </div>

  </body>
</html>
