body{
  /* background-color: #bcc0c533; */
  background-color: #d5e8ec1a;
}
.bglight {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.99);

}

.li-left{
  float: left;
}

.li-right{
  float: right;
}

.base-a {
    display: block;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;

}

.base-a:hover {
    background-color: #bae5ff;
    text-decoration: none;
}
.base-a-img {
    display: block;
    color: white;
    margin-left: 10px;
    padding: 2px;

    text-align: center;
    text-decoration: none;
}
.home-list{
  list-style-type: none;
  margin-left:  100px;;
}

.home-a{
  color: #969847;
}

.home-a:hover {
  text-decoration: none;
  color: #F00;
}
